@charset "utf-8";
/*대한항공 크로스오버 사이트 css - main.css*/

/*외부파일 불러오기*/
@import url(reset.css);

/*공통셋팅*/
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "맑은 고딕", arial;
    color: #434343;
    overflow-x: hidden;
}

img {
    border: none;
}

ul,
ol {
    /*3무*/
    margin: 0;
    padding: 0;
    list-style: none;
}

/**********************1.상단영역**********************/
/*1-1.상단메뉴박스 크기셋팅*/
#top {
    width: 100%;
    height: 105px;
    /*outline: 1px solid red;*/
}

.t1 {
    position: relative;
    /*부모자격*/
    height: 40px;
    background-color: #434343
}

.t2 {
    position: relative;
    /*부모자격*/
    height: 65px;
    /*outline: 1px solid yellow*/;
}

/*1-2.상단메뉴 li셋팅*/
.t1 li, .t2 li {
    float: left;
}

/*1-3. 상단메뉴 li 위치셋팅*/
#lang {
    position: absolute;
    /*부모? .t1*/
    top: 11px;
    left: 20px;
}
.sub {
    position: absolute;
    /*부모? .t1*/
    top: 8px;
    right: 45px;
}

#logo img {
    position: absolute;
    /*부모? .t2*/
    top: 18px;
    left: 43%;
}

.tli1 {
    position: absolute;
    /*부모? .t2*/
    top: 20px;
    left: 85px;
}

.tli1 li:first-child {
    padding-right: 150px;
}

.tli2 {
    position: absolute;
    /*부모? .t2*/
    top: 20px;
    right: 75px;
}

.tli2 li:first-child {
    padding-right: 80px;
}

/*1-4.검색버튼*/
#magni {
    position: absolute;
    /*부모? .t1*/
    top: 0;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-image: url(../images/ico.png);
    background-position: -240px 0;
    border: 0;
}

/*1-5.상단메뉴 a셋팅*/
.sub a {
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    padding-right: 12px;
}

.t2 a {
    font-size: 18px;
    text-decoration: none;

}

/**********************2.배너영역**********************/
/*2-1.배너영역 셋팅*/
/*배너 겉박스*/
#ban {
    position: relative;
    /*부모자격*/
}
/*배너 중앙속박스*/
.b1,#ban {
    height: 650px;
}
.ban {
    position: relative;
    /*부모자격*/    
    top: -180px;
}

/*2-2. 항공기 정보셋팅*/
#Sdes {
    position: absolute;
    /*부모? #ban*/    
    top: 30px;
    left: 42%;
    width: 230px;
    height: 180px;
    margin: 0;
    padding: 0;
}
.Sdes,.Sdes li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
}
.Sdes li {
    opacity: 0;
    
    /*트랜지션:속시이지*/
    transition: opacity .8s ease-in-out;
}
.Sdes li.on {
    opacity: 1;
    z-index: 3;
    /*현재 보이는 슬라이드가 맨위로 오게함!
    클릭가능!*/
}
/*a태그 기본셋팅*/
#Sdes {
    position: relative;
    /*부모자격*/
    text-align: center;
}
.Sdes a {
    color: #fff;
    text-shadow: 2px 2px 10px #000;
    line-height: 50px;
}
.sname {
    font-size: 30px;
}
.des {
    font-size: 24px;
}
/*항공기 버튼셋팅*/
.btn {
    width: 100px;
    font-size: 18px;   
    color: #434343;
}


/*2-3.배너슬라이드 셋팅*/
/*ul,li모두 absolute로 겹치게*/
.slider,.slider li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.Aslider,.Aslider li {
    position: absolute;
    top: 46px;
    left: 5px;
    width: 100%;
    height: 100%;
}

/*슬라이드 리스트 공통*/
.slider li {
    opacity: 0;
    
    /*트랜지션:속시이지*/
    transition: opacity .8s ease-in-out;
}
.Aslider li {
    opacity: 0;    
    transition: opacity .8s ease-in-out;
}
/*보이는 리스트 class*/
/*on이라는 클래스를 설정한li디자인*/
.slider li.on {
    opacity: 1;
    z-index: 1;
    /*현재 보이는 슬라이드가 맨위로 오게함!
    클릭가능!*/
}
.Aslider li.on {
    opacity: 1;
    z-index: 2;
}

/*2-4.배너슬라이드 이미지 넣기*/
/*슬라이드 개별셋팅(배경)*/
.slider li:nth-child(1){
    background: url(../images/bg-carousel-b787.jpg) no-repeat top/100% 100%;
}
.slider li:nth-child(2){
    background: url(../images/bg-carousel-b777.jpg) no-repeat top/100% 100%;
}
.slider li:nth-child(3){
    background: url(../images/bg-carousel-b747.jpg) no-repeat top/100% 100%;
}
.slider li:nth-child(4){
    background: url(../images/bg-carousel-b737.jpg) no-repeat top/100% 100%;
}
.slider li:nth-child(5){
    background: url(../images/bg-carousel-a380.jpg) no-repeat top/100% 100%;
}
.slider li:nth-child(6){
    background: url(../images/bg-carousel-a330.jpg) no-repeat top/100% 100%;
}
.slider li:nth-child(7){
    background: url(../images/bg-carousel-a220.jpg) no-repeat top/100% 100%;
}

/*슬라이드 개별셋팅(항공기)*/
.Aslider li:nth-child(1){
    background: url(../images/img-carousel-b787.png) no-repeat center;
}
.Aslider li:nth-child(2){
    background: url(../images/img-carousel-b777.png) no-repeat center;
}
.Aslider li:nth-child(3){
    background: url(../images/img-carousel-b747.png) no-repeat center;
}
.Aslider li:nth-child(4){
    background: url(../images/img-carousel-b737.png) no-repeat center;
}
.Aslider li:nth-child(5){
    background: url(../images/img-carousel-a380.png) no-repeat center;
}
.Aslider li:nth-child(6){
    background: url(../images/img-carousel-a330.png) no-repeat center;
}
.Aslider li:nth-child(7){
    background: url(../images/img-carousel-a220.png) no-repeat center;
}

/*2-5.배너이동버튼*/
.abtn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /*세로중앙이동*/
    width: 25px;
    height: 49px;
    z-index: 2;/*배너리스트보다 위에 옴!*/
    /*outline: 2px solid red;*/   
}
/*왼쪽이동버튼*/
.lb {
    left: 30px;
    background: url(../images/btn_shop_bn_left.png) no-repeat;
}
/*오른쪽이동버튼*/
.rb{
    right: 30px;
    background: url(../images/btn_shop_bn_right.png) no-repeat;
}
/*이동버튼 공통 마우스 오버시 배경이미지 위치변경하기*/
.abtn:hover{
    background-position: 0 -49px;
}

/*2-6.블릿버튼*/
.prt{
    position: relative;
    /*부모자격 부여 class*/
    top: -30px;
}
.indic {
    position: absolute;
    /*부모? 싸고있는 파티션박스(.prt 줌)*/
    bottom: 0;
    right: 42%;
    z-index: 2;
    /*포지션있어야적용!*/
}
.indic img {    
    padding: 0 3px;
}

/*2-7.IR배경이미지설명*/
.bld{
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}





























